{% extends "Base/parent.twig" %}

{% block body %}
    {% if role_xinfa.private_name %}{{ role_xinfa.private_name }}của{% endif %}{{ role_xinfa.row.name }}
    <br/>
    {{ role_xinfa.row.description }}
    <br/>
    <a href="{{ url(request, backUrl) }}">Trở lại</a>
    <br/>
    <a href="{{ url(request, 'Map/Index/index') }}">Trở lại trò chơi</a>
{% endblock %}