{% extends "Base/parent.twig" %}

{% block body %}
    {% if npc %}
        {% if come_footprints is not empty %}
            {% for come_footprint in come_footprints %}
                {{ come_footprint }}
                <br/>
            {% endfor %}
        {% endif %}
        <a href="{{ url(request, 'Map/Battlefield/npc') }}">Kiểm tra trạng thái</a>
        <a href="{{ url(request, 'Map/Battlefield/skill') }}">Đặc thù công kích</a>
        <a href="{{ url(request, 'Map/Battlefield/xinfa') }}">Tâm pháp công kích</a>
        <a href="{{ url(request, 'Map/Battlefield/surrender') }}">Đầu hàng</a>
        <a href="{{ url(request, 'Map/Battlefield/escape') }}">Chạy trốn</a>
        <br/>
        Ngươi đối với {{ npc.name }}nói：「Tại hạ {{ request.roleRow.name }}, ở đây xin thỉnh giáo 」
        <br/>
        {{ npc.name }} Thoạt nhìn muốn giết chết ngươi!
        <br/>
        Ngươi thấy {{ npc.name }} hành động, ý đồ tìm kiếm cơ hội một kích thành công.
    {% else %}
        Nhân vật đã biến mất.
        <br/>
        <a href="{{ url(request, 'Map/Index/index') }}">Trở lại trò chơi</a>
    {% endif %}
{% endblock %}