{% extends "Base/parent.twig" %}

{% block body %}
    Một phong thư
    <br/>
    Một phong đưa cho 【{{ map.name }}】 của 【{{ npc.name }}】 thư từ.
    <br/>
    <a href="{{ url(request, role_thing.throwQuestionUrl) }}">Loại bỏ</a>
    <br/>
    <a href="{{ url(request, 'Role/Thing/index') }}">Trở lại</a>
    <br/>
    <a href="{{ url(request, 'Map/Index/index') }}">Trở lại trò chơi</a>
{% endblock %}