{% extends "Base/parent.twig" %}

{% block body %}
    {% if xinfa.private_name is not empty %}{{ xinfa.private_name }}{% endif %}{{ xinfa.row.name }}
    <br/>
    {{ description }}{% if displayDescription %}……<a href="{{ url(request, descriptionUrl) }}">Một mô tả chi tiết</a>{% endif %}
    <br/>
    Loại hình: {{ xinfa.row.kind }}Tâm pháp
    <br/>
    Sở cần tu hành: {{ get_hans_number(xinfa.row.experience) }} năm
    <br/>
    {% if xinfa.row.skill_id %}
        Sở cần kỹ năng: {{ xinfa.row.skill_lv }}cấp{{ xinfa.skill.name }}
        <br/>
    {% endif %}
    Môn phái: {{ xinfa.sect }}
    <br/>
    Kinh nghiệm: {{ xinfa.experience }}/{{ xinfa.need_experience }}
    <br/>
    Cấp bậc: {{ xinfa.lv }}
    <br/>
    Cấp bậc lớn nhất: {{ xinfa.max_lv }}
    <br/>
    Giá bán: {{ get_hans_money(xinfa.sell_price) }}
    <br/>
    <a href="{{ url(request, buyQuestionUrl) }}">Mua sắm tâm pháp</a>
    <br/>
    <a href="{{ url(request, 'Map/XinfaBlackMarket/purchaseIndex') }}">Trở lại</a>
    <br/>
    <a href="{{ url(request, 'Map/Index/index') }}">Trở lại trò chơi</a>
{% endblock %}