{% extends "Base/parent.twig" %}

{% block body %}
    Khi đi chơi, bạn nên kết bạn nhiều hơn, vì vậy việc giao tiếp với người khác là rất quan trọng.
    <br/>
    Hướng dẫn sau đây sẽ giúp bạn cách tương tác với người chơi Đối thoại, thêm bạn bè, thiết lập danh sách đen, sử dụng giao tiếp diễn đàn và các chức năng khác.
    <br/>
    <a href="{{ url(request, 'Help/Primary/description/3/2') }}">Phương thức liên lạc-hệ thống trò chuyện</a>
    <br/>
    <a href="{{ url(request, 'Help/Primary/description/3/3') }}">Phương thức giao tiếp-Giao tiếp trên diễn đàn</a>
    <br/>
    <a href="{{ url(request, 'Help/Primary/description/3/4') }}">Phương thức liên lạc-Nhóm Q chính thức</a>
    <br/>
    <a href="{{ url(request, 'Help/Primary/description/3/5') }}">Thêm bạn</a>
    <br/>
    <a href="{{ url(request, 'Help/Primary/description/3/9') }}">Danh sách đen</a>
    <br/>
    <a href="{{ url(request, 'Help/Primary/description/3/11') }}">Gửi tin nhắn riêng</a>
    <br/>
    <a href="{{ url(request, 'Help/Primary/index') }}">Trở lại trang đầu</a>
    <br/>
    <a href="{{ url(request, 'Map/Index/index') }}">Trở lại trò chơi</a>
    <br/>
    <a href="{{ url(request, 'User/Center/index') }}">Trở lại trang đầu</a>
{% endblock %}