{% extends "Base/parent.twig" %}

{% block body %}
    Thực đơn thiên đem hướng ngươi kỹ càng tỉ mỉ tự thuật Trạng thái / lựa chọn thực đơn phía trước giáo trình trung chưa đề cập công năng, ngươi đem quen thuộc trong trò chơi phụ trợ công năng.
    <br/>
    Tại đây bạn có thể tìm hiểu về:
    <br/>
    <a href="{{ url(request, 'Help/Primary/description/6/2') }}">Giao diện phong cách</a>
    <br/>
    <a href="{{ url(request, 'Help/Primary/description/6/3') }}">Tự thể thiết trí</a>
    <br/>
    <a href="{{ url(request, 'Help/Primary/index') }}">Trở lại trang đầu</a>
    <br/>
    <a href="{{ url(request, 'Map/Index/index') }}">Trở lại trò chơi</a>
    <br/>
    <a href="{{ url(request, 'User/Center/index') }}">Trở lại trang đầu</a>
{% endblock %}