{% extends "Base/parent.twig" %}

{% block body %}
    （Nơi này chính là Liễu như yên tin tức, đặc thù nhân vật sẽ có đặc thù liên tiếp, tỷ như bái sư, điểm điểm xem đều là làm gì đó? )
    <br/>
    【 kiếm hiệp 】Liễu như yên
    <br/>
    Một cô bé xinh xắn, bạn có thể tìm thấy cô ấy nếu gia nhập Ngũ Sơn Kiếm Phái.
    <br/>
    Khuôn mặt xinh đẹp tràn đầy sức xuân, đôi mắt xinh đẹp trìu mến và nụ cười dịu dàng khiến trái tim người ta rung động.
    <br/>
    Có vẻ như đang ở độ tuổi cuối hai mươi.
    <br/>
    Kỹ năng võ thuật của anh ta có vẻ chưa thành thạo và các đòn tấn công của anh ta có vẻ nặng tay. (Bạn có thể thấy kỹ năng võ thuật tổng quát của cô ấy. Đừng chiến đấu với kẻ quá mạnh.)
    <br/>
    Cô ấy trông tràn đầy năng lượng.
    <br/>
    □ mưa bụi kiếm ( đây là trên người trang bị, nếu ngươi có thể đem đối phương đánh chết, vậy có khả năng được đến hắn trang bị nga. )
    <br/>
    <a href="{{ url(request, 'Help/Primary/description/1/6') }}">Bái sư</a>
    <br/>
    <a href="{{ url(request, 'Help/Primary/description/1/7') }}">Đối thoại</a>
    <br/>
    <a href="{{ url(request, 'Help/Primary/description/1/8') }}">Luận bàn</a>
    <br/>
    <a href="{{ url(request, 'Help/Primary/description/1/9') }}">Giết chóc</a>
    <br/>
    <a href="{{ url(request, 'Help/Primary/description/1/2') }}">Trở lại cảnh tượng</a>
    <br/>
    <a href="{{ url(request, 'Help/Primary/index') }}">Trở lại trang đầu</a>
    <br/>
    <a href="{{ url(request, 'Map/Index/index') }}">Trở lại trò chơi</a>
    <br/>
    <a href="{{ url(request, 'User/Center/index') }}">Trở lại trang đầu</a>
{% endblock %}