{% extends "Base/parent.twig" %}

{% block body %}
Liễu như yên là Ngũ Nhạc phái sư phó, cho nên sẽ có Bái sư liên tiếp, Bái sư tương quan nội dung học nghệ thiên sẽ có kỹ càng tỉ mỉ thuyết minh.
    <br/>
    <a href="{{ url(request, 'Help/Primary/description/1/5') }}">Trở lại nhân vật tin tức</a>
    <br/>
    <a href="{{ url(request, 'Help/Primary/description/1/2') }}">Trở lại cảnh tượng</a>
    <br/>
    <a href="{{ url(request, 'Help/Primary/index') }}">Trở lại trang đầu</a>
    <br/>
    <a href="{{ url(request, 'Map/Index/index') }}">Trở lại trò chơi</a>
    <br/>
    <a href="{{ url(request, 'User/Center/index') }}">Trở lại trang đầu</a>
{% endblock %}