{% extends "Base/parent.twig" %}

{% block body %}
    {% if friends is not empty %}
        {% for friend in friends %}
            {% if friend.viewUrl is not empty %}
                <a href="{{ url(request, friend.viewUrl) }}">{{ friend.name }}</a>
                <a href="{{ url(request, friend.messageUrl) }}">Gửi tin nhắn</a>
                {# <a href="{{ url(request, friend.mailUrl) }}">Gửi thư</a> #}
                Gửi thư
                <br/>
            {% else %}
                {{ friend.name }}
                (Ngoại tuyến)
                {# <a href="{{ url(request, friend.mailUrl) }}">Gửi thư</a> #}
                <br/>
            {% endif %}
        {% endfor %}
    {% else %}
        Bạn chưa có bạn bè.
        <br/>
    {% endif %}
    <a href="{{ url(request, 'Role/Contact/index') }}">Trở lại</a>
    <br/>
    <a href="{{ url(request, 'Map/Index/index') }}">Trở lại trò chơi</a>
{% endblock %}