{% extends "Base/parent.twig" %}

{% block body %}
    现在你欲赠送{{ money }}给{{ o_role_row.name }}。
    <br/>
    Chờ đợi{{ o_role_row.name }} phản hồi
    <br/>
    <a href="{{ url(request, 'Map/Index/index') }}">Trở lại</a>
    <br/>
    <a href="{{ url(request, 'Map/Index/index') }}">Trở lại trò chơi</a>
{% endblock %}