{% extends "Base/parent.twig" %}

{% block body %}
    {{ number }}{{ o_role_thing.row.unit }}{{ o_role_thing.row.name }}
    <br/>
    {{ o_role_thing.row.description }}
    <br/>
    <a href="{{ url(request, consent_url) }}">Nhận quà tặng</a>
    <br/>
    <a href="{{ url(request, refuse_url) }}">Từ chối nhận</a>
    <br/>
    <a href="{{ url(request, 'Map/Index/index') }}">Trở lại</a>
    <br/>
    <a href="{{ url(request, 'Map/Index/index') }}">Trở lại trò chơi</a>
{% endblock %}