{% extends "Base/parent.twig" %}

{% block body %}
    Hiện tại ngươi dục lấy{{ price }}Giá cả bán cho{{ o_role_row.name }}{{ number }}{{ role_thing.row.unit }}{{ role_thing.row.name }}。
    <br/>
    Chờ đợi{{ o_role_row.name }} đáp lại
    <br/>
    <a href="{{ url(request, 'Map/Index/index') }}">Trở lại</a>
    <br/>
    <a href="{{ url(request, 'Map/Index/index') }}">Trở lại trò chơi</a>
{% endblock %}