{% extends "Base/parent.twig" %}

{% block body %}
    Thuộc tính thiên đem hướng ngươi kỹ càng tỉ mỉ tự thuật về nhân vật thuộc tính một ít nội dung, ngươi đem đối với ngươi trong trò chơi nhân vật có một cái toàn diện hiểu biết.
    <br/>
    Tại đây bạn có thể tìm hiểu về:
    <br/>
    <a href="{{ url(request, 'Help/Primary/description/2/2') }}">Trạng thái cơ thể</a>
    <br/>
    <a href="{{ url(request, 'Help/Primary/description/2/11') }}">Cá nhân tin tức</a>
    <br/>
    <a href="{{ url(request, 'Help/Primary/index') }}">Trở lại trang đầu</a>
    <br/>
    <a href="{{ url(request, 'Map/Index/index') }}">Trở lại trò chơi</a>
    <br/>
    <a href="{{ url(request, 'User/Center/index') }}">Trở lại trang đầu</a>
{% endblock %}