{% extends "Base/parent.twig" %}

{% block body %}
    (Vui lòng nhấp vào liên kết tương ứng để xem phần giới thiệu thuộc tính hoặc chức năng tương ứng.)
    <br/>
    <a href="{{ url(request, 'Help/Primary/description/2/4') }}">Sinh mệnh</a>：280/280
    <br/>
    <a href="{{ url(request, 'Help/Primary/description/2/5') }}">Tinh thần</a>：280/280
    <br/>
    <a href="{{ url(request, 'Help/Primary/description/2/6') }}">Nội lực</a>：280/280
    <br/>
    <a href="{{ url(request, 'Help/Primary/description/2/7') }}">Nội lực</a>：280/280
    <br/>
    <a href="{{ url(request, 'Help/Primary/description/2/8') }}">Tu vi</a>:25 thiên
    <br/>
    Binh khí thương tổn lực:0
    <br/>
    Khôi giáp bảo hộ lực: 0
    <br/>
    <a href="{{ url(request, 'Help/Primary/description/2/9') }}">Kỹ năng phối trí</a>
    <br/>
    <a href="{{ url(request, 'Help/Primary/description/2/10') }}">Tu luyện Nội lực</a>
    <br/>
    <a href="{{ url(request, 'Help/Primary/description/2/2') }}">Trở lại Trạng thái / lựa chọn</a>
    <br/>
    <a href="{{ url(request, 'Help/Primary/index') }}">Trở lại trang đầu</a>
    <br/>
    <a href="{{ url(request, 'Map/Index/index') }}">Trở lại trò chơi</a>
    <br/>
    <a href="{{ url(request, 'User/Center/index') }}">Trở lại trang đầu</a>
{% endblock %}