{% extends "Base/parent.twig" %}

{% block body %}
    Gửi đi đạo cụ bưu kiện：
    <br/>
    <form method="post" action="{{ url(request, post_url) }}">
        Tên người chơi (không được ẩn danh, phải chính xác hoàn toàn, nếu không sẽ không được gửi, để trống và sẽ gửi đến tất cả người chơi trong máy chủ):
        <br/>
        <input type="text" name="name">
        <br/>
        Nội dung (trong vòng 10.000 từ, có thể để trống):
        <br/>
        <textarea name="content"></textarea>
        <br/>
        Đạo cụ:
        <br/>
        <select name="id">
            {% for id, dj in djs %}
                <option value="{{ id }}">{{ dj.name }}</option>
            {% endfor %}
        </select>
        <br/>
        Số lượng (1-99999999, vui lòng không điền số quá lớn đối với những vật phẩm không thể xếp chồng lên nhau vì có thể khiến server bị treo):
        <br/>
        <input type="text" name="number" value="1">
        <br/>
        <input type="submit" value="Xác nhận">
    </form>
    <a href="{{ url(request, 'Manage/Index/index') }}">Trở lại</a>
    <br/>
    <a href="{{ url(request, 'User/Center/index') }}">Trở lại trò chơi</a>
{% endblock %}