{% extends "Base/parent.twig" %}

{% block body %}
    Gửi đi tâm pháp bưu kiện：
    <br/>
    <form method="post" action="{{ url(request, post_url) }}">
        Tên người chơi (không được ẩn danh, phải chính xác hoàn toàn, nếu không sẽ không được gửi, để trống và sẽ gửi đến tất cả người chơi trong máy chủ):
        <br/>
        <input type="text" name="name">
        <br/>
        Nội dung (trong vòng 10.000 từ, có thể để trống):
        <br/>
        <textarea name="content"></textarea>
        <br/>
        心法：
        <br/>
        <select name="id">
            {% for xinfa in xinfas %}
                <option value="{{ xinfa.id }}">{{ xinfa.name }}</option>
            {% endfor %}
        </select>
        <br/>
        Cấp bậc ( 1-999）：
        <br/>
        <input type="text" name="lv" value="1">
        <br/>
        Cấp bậc lớn(1-999)：
        <br/>
        <input type="text" name="max_lv" value="1">
        <br/>
        <input type="submit" value="Xác nhận">
    </form>
    <a href="{{ url(request, 'Manage/Index/index') }}">Trở lại</a>
    <br/>
    <a href="{{ url(request, 'User/Center/index') }}">Trở lại trò chơi</a>
{% endblock %}