{% extends "Base/parent.twig" %}

{% block body %}
    Trong chốn giang hồ không tránh được ân ân oán oán, nhất thống khoái biện pháp giải quyết chính là đánh một trận, hơn nữa thông qua đánh nhau cũng là trò chơi trưởng thành một loại phương thức.
    <br/>
    Phía dưới giáo trình đem trợ giúp ngươi như thế nào cùng người chơi cùng với hệ thống nhân vật tới đánh nhau.
    <br/>
    <a href="{{ url(request, 'Help/Primary/description/5/2') }}">Bắt đầu</a>
    <br/>
    <a href="{{ url(request, 'Help/Primary/description/5/6') }}">Chiến đấu hình ảnh</a>
    <br/>
    <a href="{{ url(request, 'Help/Primary/description/5/12') }}">Người chơi Luận bàn</a>
    <br/>
    <a href="{{ url(request, 'Help/Primary/index') }}">Trở lại trang đầu</a>
    <br/>
    <a href="{{ url(request, 'Map/Index/index') }}">Trở lại trò chơi</a>
    <br/>
    <a href="{{ url(request, 'User/Center/index') }}">Trở lại trang đầu</a>
{% endblock %}