{% extends "Base/parent.twig" %}

{% block body %}
    Muốn lập nghiệp ở thế gian, nếu không có chút võ công thì khó có thể, nên học Bái sư là con đường tổng quát.
    <br/>
    Dưới đây chúng tôi sẽ hướng dẫn các bạn từng bước cách học Bái sư<a href="{{ url(request, 'Help/Primary/description/4/2') }}">Bắt đầu</a>
    <br/>
    Trò chơi này có rất nhiều loại võ thuật, chi tiết vui lòng xem<a href="{{ url(request, 'Help/Primary/description/4/12') }}">Giới thiệu về võ thuật</a>
    <br/>
    Có ba giáo phái cơ bản trong trò chơi này. Để biết chi tiết, vui lòng xem<a href="{{ url(request, 'Help/Primary/description/4/23') }}">Giới thiệu về môn phái</a>
    <br/>
    Ngoài các võ thuật cơ bản, trong game còn có rất nhiều võ thuật đặc biệt ẩn giấu, đòi hỏi người chơi phải tự mình khám phá.
    <br/>
    <a href="{{ url(request, 'Help/Primary/index') }}">Trở lại trang đầu</a>
    <br/>
    <a href="{{ url(request, 'Map/Index/index') }}">Trở lại trò chơi</a>
    <br/>
    <a href="{{ url(request, 'User/Center/index') }}">Trở lại trang đầu</a>
{% endblock %}