{% extends "Base/parent.twig" %}

{% block body %}
    Một quyển {{ xinfa.row.name }}
    <br/>
    {% if xinfa.row.description %}
        {{ xinfa.row.description }}
        <br/>
    {% endif %}
    Loại hình: {{ xinfa.row.kind }}Tâm pháp
    <br/>
    Sở cần tu hành: {{ get_hans_number(xinfa.row.experience) }} năm
    <br/>
    {% if xinfa.row.skill_id %}
        Sở cần kỹ năng: {{ xinfa.row.skill_lv }}cấp{{ xinfa.skill.name }}
        <br/>
    {% endif %}
    Môn phái: {{ xinfa.sect }}
    <br/>
    Kinh nghiệm: {{ xinfa.experience }}/{{ xinfa.need_experience }}
    <br/>
    Cấp bậc: {{ xinfa.lv }}
    <br/>
    Cấp bậc lớn nhất: {{ xinfa.max_lv }}
    <br/>
    <a href="{{ url(request, pickUpUrl) }}">Nhặt lên</a>
    <br/>
    <a href="{{ url(request, 'Map/Thing/index') }}">Trở lại</a>
    <br/>
    <a href="{{ url(request, 'Map/Index/index') }}">Trở lại trò chơi</a>
{% endblock %}