{% extends "Base/parent.twig" %}

{% block body %}
    <a href="{{ url(request, 'Map/WhatCanIDo/description/1') }}">16 mục phải đọc cho độc giả mới</a>
    <br/>
    <a href="{{ url(request, 'Map/WhatCanIDo/description/2') }}">Bái sư học nghệ ( đại hiệp chi lộ )</a>
    <br/>
    <a href="{{ url(request, 'Map/WhatCanIDo/description/3') }}">Kiếm tiền ( hỗn giang hồ, tiền cũng rất quan trọng )</a>
    <br/>
    <a href="{{ url(request, 'Map/WhatCanIDo/description/4') }}">Vĩnh không lạc đường</a>
    <br/>
    <a href="{{ url(request, 'Map/WhatCanIDo/description/5') }}">Đánh quái luyện cấp ( đề cao Tu hành )</a>
    <br/>
    <a href="{{ url(request, 'Map/WhatCanIDo/description/6') }}">Mua vũ khí ( dao nhỏ nơi tay dũng khí tráng )</a>
    <br/>
    <a href="{{ url(request, 'Map/WhatCanIDo/description/7') }}">Phối trí Tuyệt chiêu</a>
    <br/>
    <a href="{{ url(request, 'Map/WhatCanIDo/description/8') }}">Tìm mỹ nữ / soái ca nói chuyện phiếm</a>
    <br/>
    <a href="{{ url(request, 'Map/WhatCanIDo/description/9') }}"> Bái người chơi làm sư phó</a>
    <br/>
    <a href="{{ url(request, 'Map/WhatCanIDo/description/10') }}">Bắt đầu anh hùng cứu mỹ nhân truyền kỳ</a>
    <br/>
    <a href="{{ url(request, 'Map/WhatCanIDo/description/11') }}">Chơi điểm hưu nhàn trò chơi nhỏ ( câu cá / đánh cuộc lớn nhỏ）</a>
    <br/>
    <a href="{{ url(request, 'Map/WhatCanIDo/description/12') }}">Mạo hiểm ( khắp nơi đi dạo )</a>
    <br/>
    <a href="{{ url(request, 'Map/WhatCanIDo/description/13') }}">Chân nhân PK</a>
    <br/>
    <a href="{{ url(request, 'Map/WhatCanIDo/description/14') }}">Tổ đội cùng bang phái</a>
    <br/>
    <a href="{{ url(request, 'Map/WhatCanIDo/description/15') }}">Tìm kiếm võ công bí tịch</a>
    <br/>
    <a href="{{ url(request, 'Map/WhatCanIDo/description/16') }}">Bất đồng cấp bậc đánh quái cùng thăng cấp địa điểm</a>
    <br/>
    <a href="{{ url(request, 'Map/WhatCanIDo/description/17') }}">Truyền tin</a>
    <br/>
    <a href="{{ url(request, 'Map/WhatCanIDo/description/18') }}">Kết giao nghĩa huynh đệ / phu thê</a>
    <br/>
    <a href="{{ url(request, 'Map/WhatCanIDo/description/19') }}">Anh hùng khó qua ải mỹ nhân</a>
    <br/>
    <a href="{{ url(request, 'Map/WhatCanIDo/description/20') }}">Đi diễn đàn xin giúp đỡ</a>
    <br/>
    <a href="{{ url(request, 'Map/WhatCanIDo/description/21') }}">Nhanh chóng trở thành cao thủ</a>
    <br/>
    <a href="{{ url(request, 'Map/Index/index') }}">Trở lại trò chơi</a>
{% endblock %}